body {
    background: #f3f3f3;
    font-family: 'Manjari', sans-serif;
  }

  input[type = "text"],input[type = "email"], input[type ="password"], select, textarea{
      background-color: #f3f3f3;
      display: block;
      
  }
  .main{
    margin-left: 75px;
  }
  .content{
      padding: 10px;
  }
  .note{
      margin-left: 5px;
  }
  button{
    display: inline-block;
      border-radius: 10px;
      padding: 10px;
      margin-left: 15px;
  }

 